$blue: #93a0c0;

.Games {
  h1 {
    font-family: "Podkova", serif;
    margin-bottom: 15px;
  }

  h2 {
    font-family: "Podkova", serif;
    opacity: 50%;
    margin-bottom: 7%;
  }
  p {
    margin-bottom: 7%;
    font-size: 16px;
  }

  .wrapper-left {
    display: flex;
    justify-content: flex-start;
    padding-top: 10%;
  }

  .games-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }

  .left-container {
    // margin-left: 65%;
    // padding-right: 15%;
    background: linear-gradient(
      73.05deg,
      rgba(5, 5, 5, 0.2) 0%,
      rgba(5, 5, 5, 0) 53.53%
    );
    backdrop-filter: blur(55px);
    border-radius: 10px 10px 10px 64px;
    padding: 40px;
    width: 60%;
    height: 400px;
  }

  .wrapper-left {
    display: flex;
    justify-content: center;
    // align-items: center;
    margin-top: 15%;
  }

  .wrapper-right {
    display: flex;
    justify-content: center;
    align-self: center;
  }

  // .characters {
  //   width: 400px;
  //   height: 400px;
  // }

  .Michael {
    width: 120%;
    margin-right: 40%;
    margin-top: 10%;
  }

  h3 {
    color: $blue;
    padding-left: 7%;
  }

  .generals {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
    // margin-top: 3%;
  }

  .general {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .general-card {
    height: 550px;
    width: 350px;
  }

  #card_canvas {
    border-radius: 10px;
    border: 1px solid #85703b;
  }

  .general-text {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .bg2 {
    background-image: url("../../icons/BG2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: white; // effects h1 in that background
    // display:flex;
    // justify-content: center;
    // align-items: center;
  }

  .bg3 {
    background-image: url("../../icons/BG3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: white; // effects h1 in that background
    // display:flex;
    // justify-content: center;
    // align-items: center;
  }

  @media screen and (max-width: 852px) {
    .generals {
      margin-top: 800px;
      display: flex;
      flex-direction: column;
    }

    .bg3 {
      height: 2200px;
      background-position: left;
    }

    .bg1 {
      height: 1200px;
    }

    .games-container {
      display: flex;
      flex-direction: column;
    }

    .general-text {
      margin: 15px 55px;
    }
  }
}
