$blue: #b8c0c8;

.Games {
  h1 {
    font-family: "Iceland", serif;
    background: #c2d4ff;
    // background: linear-gradient(270deg, #ffefb6 0%, #ffd361 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
    margin-top: 0px;

    margin-left: 160px;
    font-size: 85px;
    font-weight: 400;
  }

  h2 {
    font-family: "Iceland", serif;
    color: #b8c0c8;
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 20px;
  }

  p {
    font-family: "Jura", serif;
    opacity: 50%;
    margin-bottom: 7%;
    font-size: 20px;
  }

  h3 {
    font-size: 20px;
    color: $blue;
    // background-color: #343746;
    // padding-left: 160px;
  }

  .heading {
    display: flex;
    align-items: center;
    padding-top: 4%;
    margin-right: 160px;
    margin-left: 160px;
    white-space: nowrap;
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: blue;

    background: rgba(23, 10, 32, 0.2);
    border: 1px solid rgba(80, 80, 80, 0.5);
    margin-left: 10px;
  }

  .wrapper-left h3 {
    padding: 0%;
  }

  .left-container h3 {
    font-weight: 300;
    font-size: 20px;
    color: #b8c0c8;
    background: rgba(52, 55, 70, 0.4);
    padding: 20px 20px 20px 20px;
  }

  .left-container p {
    padding: 20px;
    padding-bottom: 40px;
    opacity: 100%;
    background-color: black;
    // height: 200px;
    margin: 0px;
  }

  .nebula-text {
    background: black;
  }

  .games-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // height: 100vh;
  }

  .left-container {
    // margin-left: 65%;
    // padding-right: 15%;
    background: linear-gradient(
      73.05deg,
      rgba(5, 5, 5, 0.2) 0%,
      rgba(5, 5, 5, 0) 53.53%
    );
    backdrop-filter: blur(55px);
    border-radius: 10px 10px 10px 10px;
    // padding: 40px;
    max-width: 507px;
    height: 320px;
    margin-top: 50px;
    position: absolute;
  }

  .wrapper-left {
    display: flex;
    justify-content: start;
    flex-direction: column;
    // margin-top: 1%;
    padding-left: 160px;
  }

  .wrapper-right {
    display: flex;
    justify-content: end;
    align-self: center;
  }

  .nebula {
    background-image: url("../../icons/Nebula.png");
    border: 1px solid #242631;
    backdrop-filter: blur(55px);
    border-radius: 10px 10px 0px 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Title {
    width: 80%;
  }

  .Michael {
    max-width: 970px;
    max-height: 950px;
    margin: 0px;
    margin-top: 3%;
    // mix-blend-mode: lighten;
  }

  .generals {
    // height: 800px;
    display: flex;
    justify-content: center;
    align-items: start;
    // flex-direction: column;
    // margin-top: 3%;
    margin: 0px 150px;
  }

  .general {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 27vw;
    margin: 0px 10px;
  }

  .general-card {
    height: 600px;
    width: 100%;
  }

  #card_canvas {
    border-radius: 10px 10px 0px 0px;
    border: 1px solid rgba(127, 105, 48, 0.1);
  }

  .general-text {
    // padding-top: 2%
    // width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    border: 1px solid rgba(127, 105, 48, 0.1);
    border-radius: 0px 0px 10px 10px;
    background: #000000;
    // backdrop-filter: blur(55px);
  }

  .general-text p {
    position: relative;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 5px;
  }

  .general-text h2 {
    font-family: "Iceland", serif;
    padding: 10px 0px;
    font-size: 36px;
    font-weight: 400;
    opacity: 100%;
    background: #131313;
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
    // height: 100%;
    padding-left: 20px;
    margin-left: 0px;
    margin-top: -2px;
  }

  .video {
    display: flex;
    justify-content: center;
    // align-items: center;
    margin-top: 40px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 4%;
    height: 950px;
  }

  .iframe {
    width: 100%;
    height: 90%;
    // padding-bottom: 4%;
  }

  .bg1v3 {
    background-image: url("../../icons/BG1v3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    width: 100%;
    color: white;
  }

  .bg2 {
    background-image: url("../../icons/BG2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    width: 100%;
    color: white; // effects h1 in that background
    // opacity: 10%;
    background-color: black;
    // display:flex;
    // justify-content: center;
    // align-items: center;
  }

  .download-btn img {
    width: 7%;
  }

  .download-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5em;
    background: #0a0a09;
    border: 1px solid rgba(255, 210, 90, 0.1);
    margin: 0;
    margin-top: -15px;
    border-radius: 0px 0px 20px 20px;
    color: #ffd361;
    background: #000000;
    font-weight: 600;
    font-size: 20px;
  }

  .download-btn:hover {
    color: black;
    background: linear-gradient(270deg, #ffefb6 0%, #ffd361 100%);

    img {
      filter: brightness(0) saturate(100%);
    }
  }

  .download-btn:focus {
    color: black;
    background: linear-gradient(270deg, #b29444 0%, #ffd361 100%);

    img {
      filter: brightness(0) saturate(100%);
    }
  }

  .flex-heading {
    display: flex;
    align-items: center;
    background-color: black;
    border-bottom: 1px solid rgba(255, 212, 100, 0.1);
  }

  .banner {
    width: 4px;
    height: 160px;
    background: linear-gradient(180deg, #8dacfa 0%, #ffe174 100%);
    border-radius: 0px 50px 50px 00px;
    // margin-right: 5%;
  }

  .container-4 {
    // padding: 30px;
    // width: 100%;
    padding: 40px 0px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 3%;
    margin-top: 2%;
  }

  .container-4 p {
    margin-bottom: 0px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(161, 168, 175, 0.5);
  }

  .general-bg {
    background-image: url(../../icons/Nebula1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1360px;
    width: 100%;
  }

  .prev {
    background: #8dacfa;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 45%;
    height: 60px;
    margin: 0px 5px;
    border: 2px solid #3d4e71;
    border-radius: 6px;
    opacity: 75%;
    margin-bottom: 5%;
  }

  .prev:hover {
    opacity: 100%;
  }

  .next {
    background: #8dacfa;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 45%;

    height: 60px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin: 0px 5px;
    border: 2px solid #3d4e71;
    border-radius: 6px;
    opacity: 75%;
    margin-bottom: 5%;
  }

  .next:hover {
    opacity: 100%;
  }

  .navButtons {
    display: none;
  }

  .coming-soon-activated h4 {
    font-size: 12px;
    padding: 20px;
    color: pink;
    background: rgb(20, 20, 20);
    // border-radius: 15px;
  }

  .coming-soon {
    display: none;
  }

  .coming-soon-activated {
    display: block;
  }
  // MACBOOK
  @media screen and (max-width: 1600px) {
    h1 {
      font-size: 60px;
    }

    h2 {
      font-size: 36px;
      margin-bottom: 15px;
    }

    p {
      font-size: 18px;
    }

    h3 {
      font-size: 18px;
      color: $blue;
      // background-color: #343746;
      // padding-left: 160px;
    }

    .left-container h3 {
      font-size: 14px;
    }

    .left-container p {
      font-size: 16px;
    }
    .bg1v3 {
      height: 700px;
    }
    .bg2 {
      height: 763px;
    }

    .Michael {
      // max-width: 970px;
      max-height: 700px;
      margin: 0;
      margin-top: 3%;

      // margin-bottom: 30%;
    }

    .heading {
      padding-top: 2%;
    }

    .banner {
      height: 110px;
    }

    .iframe {
      // width: 100%;
      height: 90%;
      // padding-bottom: 4%;
    }
    .container-4 {
      // padding: 30px;
      padding: 40px 0px;
      padding-top: 0%;
      margin-left: 160px;
      margin-right: 160px;
    }

    .left-container {
      max-width: 400px;
      height: 230px;
      margin-top: 50px;
      position: absolute;
    }

    .download-btn {
      font-size: 16px;
    }

    .video {
      display: flex;
      justify-content: center;
      // align-items: center;
      margin-top: 40px;
      margin-left: 160px;
      margin-right: 160px;
      margin-bottom: 0%;
      height: 700px;
    }

    .generals {
      // height: 800px;
      display: flex;
      justify-content: center;
      align-items: start;
      // flex-direction: column;
      // margin-top: 3%;
      margin: 0px 160px;
    }

    .general {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      min-width: 20vw;
      margin: 0px 5px;
    }

    .general-card {
      height: 400px;
      // width: 100%;
    }

    .general-text {
      // padding-top: 2%
      // width: 95%;
    }

    .general-text p {
      font-size: 16px;
      padding-left: 20px;
    }

    .general-text h2 {
      font-size: 26px;
      padding-left: 20px;
      margin-left: 0px;
    }
    .general-bg {
      background-image: url(../../icons/Nebula1.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 1000px;
      width: 100%;
    }
  }
  @media screen and (max-width: 1162px) {
    h1 {
      font-size: 48px;
      margin-left: 72px;
    }

    h2 {
      font-size: 36px;
      margin-bottom: 15px;
    }

    p {
      font-size: 18px;
    }

    h3 {
      font-size: 13px;
      color: $blue;
      // margin-left: 72px;
      // background-color: #343746;
      // padding-left: 160px;
    }

    .heading {
      margin-left: 72px;
      margin-right: 72px;
    }

    .banner {
      height: 72px;
    }

    .wrapper-left {
      display: flex;
      justify-content: start;
      flex-direction: column;
      // margin-top: 1%;
      padding-left: 72px;
    }

    .left-container h3 {
      font-size: 14px;
    }

    .left-container p {
      font-size: 16px;
    }
    .generals {
      // height: 800px;
      display: flex;
      justify-content: center;
      align-items: start;
      // flex-direction: column;
      // margin-top: 3%;
      margin: 0px 100px;
    }

    .general {
      display: flex;
      justify-content: start;
      flex-direction: column;
      align-items: center;
      // min-width: 28vw;
      width: 360px;

      margin: 0px 5px;
      // height: 300px;
      // margin-top: 20px;
      margin-bottom: 50px;
    }

    .general-card {
      height: 400px;
      // width: 100%;
    }

    .video {
      // display: flex;
      // justify-content: center;
      // // align-items: center;
      margin-top: 40px;
      margin-left: 72px;
      margin-right: 72px;
      margin-bottom: 4%;
      height: 650px;
    }

    .container-4 {
      // padding: 30px;
      // width: 100%;
      padding: 20px 0px;
      margin-left: 72px;
      margin-right: 72px;
      margin-bottom: 3%;
      margin-top: 1%;
    }

    .left-container {
      max-width: 348px;
      height: 234px;
      margin-top: 30px;
      position: absolute;
    }

    .Michael {
      // width: 420px;
      max-height: 504px;
      margin: 0px;
      margin-top: 3%;
      margin-bottom: 25%;
    }

    .bg1v3 {
      height: 648px;
    }
    .bg2 {
      height: 700px;
    }

    .Title {
      width: 70%;
    }

    .general-text p {
      font-size: 15px;
    }
  }
  @media screen and (max-width: 851px) {
    h1 {
      font-size: 48px;
      margin-left: 50px;
    }

    h2 {
      font-size: 36px;
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
    }

    h3 {
      font-size: 13px;
      color: $blue;
      // margin-left: 72px;
      // background-color: #343746;
      // padding-left: 160px;
    }

    .heading {
      margin-left: 50px;
      margin-right: 50px;
    }

    .banner {
      height: 60px;
    }

    .wrapper-left {
      padding-left: 50px;
    }

    .container-4 {
      margin-left: 50px;
      margin-right: 50px;
    }

    .generals {
      margin-top: 800px;
      display: flex;
      flex-direction: column;
    }

    .bg3 {
      height: 2200px;
      background-position: left;
    }

    .bg1v3 {
      height: 1200px;
    }

    .games-container {
      display: flex;
      flex-direction: column;
    }

    .general-text {
      margin: 15px 55px;
    }

    .Michael {
      max-height: 440px;
      margin: 0;
      margin-top: 3%;
    }

    .left-container {
      max-width: 100%;
      height: 234px;
      margin-top: 250px;
      // margin: 0;
      position: absolute;
      margin-left: 50px;
      margin-right: 50px;
    }

    .wrapper-left {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // flex-direction: column;
      // margin-top: 1%;
      // padding-left: 50px;
      // padding-right: 0px;
      margin: 0;
      padding: 0;
    }

    .generals {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 50px;
    }

    .general {
      width: 360px;
      // height: 600px;
      margin-bottom: 50px;
    }

    .general-text {
      margin: 0px;
    }

    .navButtons {
      display: flex;
      justify-content: center;
      width: 100%;
      // margin-top: 10px;
      margin-bottom: -5px;
    }

    .video {
      margin-left: 50px;
      margin-right: 50px;
    }
  }

  // @media screen and (max-width: 600px) {
  //   .left-container {
  //     max-width: 100%;
  //     height: 234px;
  //     margin-top: 200px;
  //     // margin: 0;
  //     position: absolute;
  //     margin-left: 20px;
  //     margin-right: 20px;
  //   }
  // }

  @media screen and (max-width: 450px) {
    h1 {
      font-size: 48px;
      margin-left: 20px;
    }

    .left-container {
      // display: flex;
      // justify-content: center;
      // flex-direction: column;
      // align-items: center;
      // margin: 0;
      // position: absolute;
      margin-left: 20px;
      margin-right: 20px;
    }

    .heading {
      margin-left: 30px;
      margin-right: 30px;
    }

    .container-4 {
      margin-left: 20px;
      margin-right: 20px;
    }

    .general-bg {
      height: 1100px;
    }

    .generals {
      margin: 0px 20px;
    }

    .general {
      margin-bottom: 20px;
    }

    .Michael {
      max-height: 340px;
      margin-top: 10%;
    }

    .video {
      margin-left: 20px;
      margin-right: 20px;
    }

    .navButtons {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 5px;
    }

    .general-bg {
      height: 950px;
    }
  }

  @media screen and (max-width: 409px) {
    .iframe {
      width: 100%;
      height: 70%;
      // padding-bottom: 4%;
    }
  }
}
