.Games h1 {
  font-family: "Iceland", serif;
  background: #c2d4ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 160px;
  font-size: 85px;
  font-weight: 400;
}

.Games h2 {
  font-family: "Iceland", serif;
  color: #b8c0c8;
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 20px;
}

.Games p {
  font-family: "Jura", serif;
  opacity: 50%;
  margin-bottom: 7%;
  font-size: 20px;
}

.Games h3 {
  font-size: 20px;
  color: #b8c0c8;
}

.Games .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4%;
  margin-right: 160px;
  margin-left: 160px;
  white-space: nowrap;
}

.Games .line {
  width: 100%;
  height: 1px;
  background-color: blue;
  background: rgba(23, 10, 32, 0.2);
  border: 1px solid rgba(80, 80, 80, 0.5);
  margin-left: 10px;
}

.Games .wrapper-left h3 {
  padding: 0%;
}

.Games .left-container h3 {
  font-weight: 300;
  font-size: 20px;
  color: #b8c0c8;
  background: rgba(52, 55, 70, 0.4);
  padding: 20px 20px 20px 20px;
}

.Games .left-container p {
  padding: 20px;
  padding-bottom: 40px;
  opacity: 100%;
  background-color: black;
  margin: 0px;
}

.Games .nebula-text {
  background: black;
}

.Games .games-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.Games .left-container {
  background: linear-gradient(73.05deg, rgba(5, 5, 5, 0.2) 0%, rgba(5, 5, 5, 0) 53.53%);
  -webkit-backdrop-filter: blur(55px);
          backdrop-filter: blur(55px);
  border-radius: 10px 10px 10px 10px;
  max-width: 507px;
  height: 320px;
  margin-top: 50px;
  position: absolute;
}

.Games .wrapper-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 160px;
}

.Games .wrapper-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-item-align: center;
      align-self: center;
}

.Games .nebula {
  background-image: url("../../icons/Nebula.png");
  border: 1px solid #242631;
  -webkit-backdrop-filter: blur(55px);
          backdrop-filter: blur(55px);
  border-radius: 10px 10px 0px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Games .Title {
  width: 80%;
}

.Games .Michael {
  max-width: 970px;
  max-height: 950px;
  margin: 0px;
  margin-top: 3%;
}

.Games .generals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 0px 150px;
}

.Games .general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27vw;
  margin: 0px 10px;
}

.Games .general-card {
  width: 100%;
}

.Games #card_canvas {
  border-radius: 10px 10px 0px 0px;
  border: 1px solid rgba(127, 105, 48, 0.1);
}

.Games .general-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  border: 1px solid rgba(127, 105, 48, 0.1);
  border-radius: 0px 0px 10px 10px;
  background: rgba(0, 0, 0, 0.35);
  -webkit-backdrop-filter: blur(55px);
          backdrop-filter: blur(55px);
}

.Games .general-text p {
  position: relative;
  font-size: 16px;
  padding-left: 20px;
}

.Games .general-text h1 {
  font-family: "Iceland", serif;
  padding: 10px 0px;
  font-size: 36px;
  font-weight: 400;
  opacity: 50%;
  color: white;
  padding-left: 20px;
  margin-left: 0px;
}

.Games .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  margin-left: 160px;
  margin-right: 160px;
  margin-bottom: 4%;
  height: 950px;
}

.Games .iframe {
  width: 100%;
  height: 90%;
}

.Games .bg1v3 {
  background-image: url("../../icons/BG1v3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  width: 100%;
  color: white;
}

.Games .bg2 {
  background-image: url("../../icons/BG2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  width: 100%;
  color: white;
  background-color: black;
}

.Games .bg3 {
  background-image: url("../../icons/BG3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  width: 100%;
  color: white;
}

.Games .download-btn img {
  width: 7%;
}

.Games .download-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1.5em;
  background: #0a0a09;
  border: 1px solid rgba(255, 210, 90, 0.1);
  margin: 0;
  margin-top: -15px;
  border-radius: 0px 0px 20px 20px;
  color: #ffd361;
  background: #000000;
  font-weight: 600;
  font-size: 20px;
}

.Games .download-btn:hover {
  color: black;
  background: -webkit-gradient(linear, right top, left top, from(#ffefb6), to(#ffd361));
  background: linear-gradient(270deg, #ffefb6 0%, #ffd361 100%);
}

.Games .download-btn:hover img {
  -webkit-filter: brightness(0) saturate(100%);
          filter: brightness(0) saturate(100%);
}

.Games .download-btn:focus {
  color: black;
  background: -webkit-gradient(linear, right top, left top, from(#b29444), to(#ffd361));
  background: linear-gradient(270deg, #b29444 0%, #ffd361 100%);
}

.Games .download-btn:focus img {
  -webkit-filter: brightness(0) saturate(100%);
          filter: brightness(0) saturate(100%);
}

.Games .flex-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  border-bottom: 1px solid rgba(255, 212, 100, 0.1);
}

.Games .banner {
  width: 4px;
  height: 110px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8dacfa), to(#ffe174));
  background: linear-gradient(180deg, #8dacfa 0%, #ffe174 100%);
  border-radius: 0px 50px 50px 00px;
}

.Games .container-4 {
  padding: 40px 0px;
  margin-left: 160px;
  margin-right: 160px;
  margin-bottom: 3%;
  margin-top: 2%;
}

.Games .container-4 p {
  margin-bottom: 0px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(161, 168, 175, 0.5);
}

.Games .general-bg {
  background-image: url(../../icons/Nebula1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1360px;
  width: 100%;
}

.Games .prev {
  background: #8dacfa;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 45%;
  height: 60px;
  margin: 0px 5px;
  border: 2px solid #3d4e71;
  border-radius: 6px;
  opacity: 75%;
  margin-bottom: 5%;
}

.Games .prev:hover {
  opacity: 100%;
}

.Games .next {
  background: #8dacfa;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 45%;
  height: 60px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin: 0px 5px;
  border: 2px solid #3d4e71;
  border-radius: 6px;
  opacity: 75%;
  margin-bottom: 5%;
}

.Games .next:hover {
  opacity: 100%;
}

.Games .navButtons {
  display: none;
}

@media screen and (max-width: 1600px) {
  .Games h1 {
    font-size: 60px;
  }
  .Games h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  .Games p {
    font-size: 18px;
  }
  .Games h3 {
    font-size: 18px;
    color: #b8c0c8;
  }
  .Games .left-container h3 {
    font-size: 14px;
  }
  .Games .left-container p {
    font-size: 16px;
  }
  .Games .bg1v3 {
    height: 700px;
  }
  .Games .bg2 {
    height: 763px;
  }
  .Games .Michael {
    max-height: 700px;
    margin: 0;
    margin-top: 3%;
  }
  .Games .heading {
    padding-top: 2%;
  }
  .Games .iframe {
    height: 90%;
  }
  .Games .container-4 {
    padding: 40px 0px;
    padding-top: 0%;
    margin-left: 160px;
    margin-right: 160px;
  }
  .Games .left-container {
    max-width: 400px;
    height: 230px;
    margin-top: 50px;
    position: absolute;
  }
  .Games .download-btn {
    font-size: 16px;
  }
  .Games .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 0%;
    height: 700px;
  }
  .Games .generals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin: 0px 160px;
  }
  .Games .general {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 20vw;
    margin: 0px 5px;
  }
  .Games .general-card {
    height: 400px;
  }
  .Games .general-text p {
    font-size: 16px;
    padding-left: 20px;
  }
  .Games .general-text h1 {
    font-size: 26px;
    padding-left: 20px;
    margin-left: 0px;
  }
  .Games .general-bg {
    background-image: url(../../icons/Nebula1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000px;
    width: 100%;
  }
}

@media screen and (max-width: 1162px) {
  .Games h1 {
    font-size: 48px;
    margin-left: 72px;
  }
  .Games h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  .Games p {
    font-size: 18px;
  }
  .Games h3 {
    font-size: 13px;
    color: #b8c0c8;
  }
  .Games .heading {
    margin-left: 72px;
    margin-right: 72px;
  }
  .Games .wrapper-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 72px;
  }
  .Games .left-container h3 {
    font-size: 14px;
  }
  .Games .left-container p {
    font-size: 16px;
  }
  .Games .generals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin: 0px 100px;
  }
  .Games .general {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 360px;
    margin: 0px 5px;
    margin-bottom: 50px;
  }
  .Games .general-card {
    height: 400px;
  }
  .Games .video {
    margin-top: 40px;
    margin-left: 72px;
    margin-right: 72px;
    margin-bottom: 4%;
    height: 650px;
  }
  .Games .container-4 {
    padding: 20px 0px;
    margin-left: 72px;
    margin-right: 72px;
    margin-bottom: 3%;
    margin-top: 1%;
  }
  .Games .left-container {
    max-width: 348px;
    height: 234px;
    margin-top: 30px;
    position: absolute;
  }
  .Games .Michael {
    max-height: 504px;
    margin: 0px;
    margin-top: 3%;
    margin-bottom: 25%;
  }
  .Games .bg1v3 {
    height: 648px;
  }
  .Games .bg2 {
    height: 700px;
  }
  .Games .Title {
    width: 70%;
  }
}

@media screen and (max-width: 851px) {
  .Games h1 {
    font-size: 48px;
    margin-left: 72px;
  }
  .Games h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  .Games p {
    font-size: 16px;
  }
  .Games h3 {
    font-size: 13px;
    color: #b8c0c8;
  }
  .Games .generals {
    margin-top: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Games .bg3 {
    height: 2200px;
    background-position: left;
  }
  .Games .bg1v3 {
    height: 1200px;
  }
  .Games .games-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Games .general-text {
    margin: 15px 55px;
  }
  .Games .Michael {
    max-height: 410px;
    margin: 0;
    margin-top: 3%;
  }
  .Games .left-container {
    max-width: 100%;
    height: 234px;
    margin-top: 200px;
    position: absolute;
    margin-left: 20px;
    margin-right: 20px;
  }
  .Games .wrapper-left {
    margin: 0;
    padding: 0;
  }
  .Games .generals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 20px;
  }
  .Games .general {
    width: 360px;
    margin-bottom: 50px;
  }
  .Games .general-text {
    margin: 0px;
  }
  .Games .navButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .Games .general-bg {
    height: 1100px;
  }
}
/*# sourceMappingURL=Games.css.map */