.brown {
  padding-top: 500px;
  position: "absolute";
  top: "500px";
  left: "50%";
  zindex: "1000000";
  width: 500px;
  height: 500px;
  background: #7b652f;
}

.container h1 {
  font-family: "Iceland";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  background: linear-gradient(87.21deg, #c0d2ff 0.66%, #ffffff 94.12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 40px;
  line-height: 0.5;
  text-align: start;
}

.gameText h1 {
  font-family: "Iceland";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  background: linear-gradient(87.21deg, #c0d2ff 0.66%, #ffffff 94.12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 5%;
  line-height: 0.7;
  margin-bottom: 45px;
}

.heading h2 {
  color: #b8c0c8;
  white-space: nowrap;
  font-size: 20px;
}

.bg1 {
  background-image: url("../../icons/HomeBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 763px;
  width: 100%;
  color: white;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10%;
}

canvas {
  height: 100%;
  width: 100%;
  z-index: 100;
}

.wrapperCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.gameBG {
  background-image: url("../../icons/GameBG.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 480px;
  width: 770px;
  border-radius: 10px;
  border: 0.5px solid rgba(124, 101, 50, 0.7);
  margin-left: 160px;
  -webkit-backdrop-filter: blur(55px);
          backdrop-filter: blur(55px);
}

.gameName {
  background-image: url("../../icons/Title.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 76%;
  height: 40%;
  width: 100%;
  margin-top: 150px;
}

.gameText {
  width: 50%;
  padding-left: 80px;
  padding-right: 80px;
  margin-right: 80px;
}

.tagline {
  background-image: url("../../icons/Tagline.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 5%;
  mix-blend-mode: color-dodge;
  width: 100%;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  line-height: 0.5;
}

.line {
  width: 100%;
  height: 1px;
  background-color: blue;
  background: rgba(23, 10, 32, 0.2);
  border: 1px solid rgba(80, 80, 80, 0.5);
  margin-left: 10px;
}

.btnCanvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: none;
  border: none;
  margin: 0;
  color: #ffd361;
  font-weight: 600;
  font-size: 20px;
  border: 1.5px solid #7b652f;
  border-radius: 10px 10px 10px 10px;
}

.btnCanvas .btnText {
  padding: 17px;
  padding-right: 35px;
  text-align: center;
  margin: 0px;
  font-size: 16px;
  background: linear-gradient(87.18deg, #ffd361 -53.05%, #ffffff 47.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.btnCanvas .btnArrow {
  margin: 0px;
  padding: 20px;
}

.btnCanvas .btnArrowContainer {
  height: 54px;
  border-left: 1.5px solid #7b652f;
}

.btnCanvas:hover {
  background: -webkit-gradient(linear, right top, left top, from(#b29444), to(#ffd361));
  background: linear-gradient(270deg, #b29444 0%, #ffd361 100%);
  border: 1.5px solid #ffd361;
}

.btnCanvas:hover .btnText {
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.btnCanvas:hover .btnArrow {
  -webkit-filter: brightness(0) saturate(100%);
          filter: brightness(0) saturate(100%);
}

.btnCanvas:hover .btnArrowContainer {
  border-left: 1.5px solid #ffd361;
}

.btnCanvas:focus {
  background: -webkit-gradient(linear, right top, left top, from(#ffefb6), color-stop(72.61%, #ffd361));
  background: linear-gradient(270deg, #ffefb6 0%, #ffd361 72.61%);
  border: 1.5px solid #ffd361;
}

.btnCanvas:focus .btnText {
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.btnCanvas:focus .btnArrow {
  -webkit-filter: brightness(0) saturate(100%);
          filter: brightness(0) saturate(100%);
}

.btnCanvas:focus .btnArrowContainer {
  border-left: 1.5px solid #ffd361;
}

.arrow {
  padding-top: 25%;
  background-image: url("../../icons/arrow.png");
  background-position: bottom;
  background-repeat: no-repeat;
  height: 72px;
}

.html-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container {
  width: 40%;
  margin-top: 83vh;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 200px;
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 10px 10px 10px 30px;
}

p {
  color: white;
  font-size: 22px;
  font-family: "Podkova", serif;
  opacity: 50%;
  margin-bottom: 5%;
}

.container p {
  font-family: "Jura", serif;
  opacity: 100%;
}

.bg2-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px;
      grid-template-columns: 200px;
}

@media screen and (max-width: 1600px) {
  .container h1 {
    font-size: 75px;
    margin-bottom: 2%;
  }
  .gameText h1 {
    font-size: 60px;
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=Home.css.map */