.brown {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  padding-top: 500px;
  position: "absolute";
  top: "500px";
  left: "50%";
  zindex: "1000000";
  width: 500px;
  height: 500px;
  // margin-top: 500px;
  background: #7b652f;
}

.container h1 {
  font-family: "Iceland";
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  background: linear-gradient(87.21deg, #c0d2ff 0.66%, #ffffff 94.12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 40px;
  line-height: 0.5;
  text-align: start;
}

.gameText h1 {
  font-family: "Iceland";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  background: linear-gradient(87.21deg, #c0d2ff 0.66%, #ffffff 94.12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 5%;
  line-height: 0.7;
  margin-bottom: 45px;
}

.heading h2 {
  color: #b8c0c8;
  white-space: nowrap;
  font-size: 20px;
}

.bg1 {
  background-image: url("../../icons/HomeBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 763px;
  width: 100%;
  // opacity: 30%;
  color: white; // effects h1 in that background
  // display:flex;
  // justify-content: center;
  // align-items: center;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  // justify-content: space-between;
  align-items: center;
  padding-top: 10%;
}

.canvas-div {
  width: 100%;
  height: 1080px; // try chanign to px 1080 or 750
}

canvas {
  // cursor: grab;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.wrapperCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameBG {
  border-radius: 10px;
  border: 0.5px solid rgba(124, 101, 50, 0.7);
  margin: 0px;
  margin-left: 160px;
  width: 80%;
  height: 100%;
}

// .gameName {
//   background-image: url("../../icons/Title.png");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: 76%;
//   height: 40%;
//   width: 100%;
//   margin-top: 150px;
// }

.gameText {
  width: 50%;
  padding-left: 80px;
  padding-right: 80px;
  margin-right: 80px;
}
// .tagline {
//   background-image: url("../../icons/Tagline.png");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: 100%;
//   height: 5%;
//   // margin-bottom: 20px;
//   mix-blend-mode: color-dodge;
//   width: 100%;
// }

.heading {
  display: flex;
  // justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  line-height: 0.5;
}

.line {
  width: 100%;
  height: 1px;
  background-color: blue;
  background: rgba(23, 10, 32, 0.2);
  border: 1px solid rgba(80, 80, 80, 0.5);
  margin-left: 10px;
}

.btnCanvas {
  display: flex;
  justify-content: space-between;

  // width: 100%;

  background: none;
  border: none;
  margin: 0;
  color: #ffd361;
  font-weight: 600;
  font-size: 20px;
  border: 1.5px solid #7b652f;
  border-radius: 10px 10px 10px 10px;
  // white-space: nowrap;

  .btnText {
    padding: 17px;
    padding-right: 35px;
    text-align: center;
    margin: 0px;
    font-size: 16px;
    background: linear-gradient(87.18deg, #ffd361 -53.05%, #ffffff 47.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .btnArrow {
    margin: 0px;
    padding: 20px;
  }

  .btnArrowContainer {
    height: 54px;
    border-left: 1.5px solid #7b652f;
  }
}
.btnCanvas:hover {
  background: linear-gradient(270deg, #b29444 0%, #ffd361 100%);
  // color: black;
  border: 1.5px solid #ffd361;

  .btnText {
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .btnArrow {
    filter: brightness(0) saturate(100%);
  }

  .btnArrowContainer {
    border-left: 1.5px solid rgba(255, 211, 97, 1);
  }
}

.btnCanvas:focus {
  background: linear-gradient(270deg, #ffefb6 0%, #ffd361 72.61%);
  border: 1.5px solid #ffd361;

  .btnText {
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .btnArrow {
    filter: brightness(0) saturate(100%);
  }

  .btnArrowContainer {
    border-left: 1.5px solid #ffd361;
  }
}

.arrow {
  padding-top: 25%;
  background-image: url("../../icons/arrow.png");
  background-position: bottom;
  background-repeat: no-repeat;
  height: 72px;
}

.html-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

// .gradient-bg {
//   width: 100%;
//   height: 100%;
//   background: red;
//   background: linear-gradient(0deg, #00223e 38.67%, rgba(0, 31, 58, 0) 70.5%);
// }

.container {
  width: 40%;
  // margin-top: 83vh;
  padding-left: 160px;
  margin-top: 1080px;

  // top: 90%;
  // margin-bottom: 160px;
  cursor: pointer;
  // margin-bottom: 15%;
  user-select: none;
  // height: 200px;
  /* Note: backdrop-filter has minimal browser support */
}
// it's not a class so no need for '.'
p {
  color: white;
  font-size: 22px;
  font-family: "Podkova", serif;
  opacity: 50%;
  margin-bottom: 5%;
}

.container p {
  font-family: "Jura", serif;
  opacity: 100%;
}

.bg2-container {
  display: grid;
  grid-template-columns: 200px;
}

// @media screen and (max-width: 1100px) {
//   .container {
//     width: 40%;
//   }
//   .gameName {
//     background-image: url("../../icons/GameName.png");
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 525px;
//     height: 35vh;
//     width: 100%;
//   }
// }

//MACBOOK
@media screen and (max-width: 1600px) {
  .canvas-div {
    width: 100%;
    height: 700px;
  }

  .container h1 {
    font-size: 60px;
    white-space: normal;

    // margin-bottom: 2%;
  }

  .heading h2 {
    font-size: 16px;
    // margin-bottom: 2%;
  }

  .container p {
    font-size: 18px;
  }

  .gameText h1 {
    font-size: 50px;
    margin-bottom: 40px;
  }

  .container {
    margin-top: 550px;
    padding-left: 100px;
  }

  .btnCanvas {
    .btnText {
      padding-top: 20px;
      padding-right: 35px;
      font-size: 13px;
    }

    .btnArrow {
      margin: 0px;
      padding: 20px;
    }

    .btnArrowContainer {
      height: 54px;
      border-left: 1.5px solid #7b652f;
    }
  }

  .gameBG {
    margin-left: 100px;
  }

  .gameText {
    // width: 50%;
    padding-left: 40px;
    padding-right: 40px;
    // margin-right: 80px;
  }
}
@media screen and (max-width: 1161px) {
  .canvas-div {
    width: 100%;
    // height: 700px;
  }

  .html-div {
    // width: 100%;
    background: linear-gradient(0deg, #00223e 38.67%, rgba(0, 31, 58, 0) 70.5%);
  }

  .container {
    position: absolute;
    width: 105%;
    background: linear-gradient(0deg, #00223e 38.67%, rgba(0, 31, 58, 0) 100%);
    // margin-left: 0px;
    margin-top: 650px;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 150px;
    // background: linear-gradient(0deg, #00223e 38.67%, rgba(0, 31, 58, 0) 100%);
    left: 61%;

    // padding-right: 0px;
  }

  .bg-grad {
    width: 1500px;
    height: 800px;
    background: linear-gradient(0deg, #00223e 38.67%, rgba(0, 31, 58, 0) 100%);
  }

  .container h1 {
    font-size: 70px;
    // margin-bottom: 2%;
  }

  .heading h2 {
    font-size: 14px;
    // margin-bottom: 2%;
  }

  .container p {
    font-size: 18px;
  }

  .gameText h1 {
    font-size: 52px;
    margin-bottom: 40px;
  }

  // bottom half of page
  .bg1 {
    height: 1044px;
  }

  .wrapperCenter {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .gameBG {
    // background-position: center;
    // background-repeat: no-repeat;
    // // height: 100%;
    // max-height: 900px;
    // // width: 100%;
    // max-width: 1000px;
    // border-radius: 10px;
    // border: 0.5px solid rgba(124, 101, 50, 0.7);
    height: 90%;
    margin-bottom: 100px;
    border-radius: 10px;
    border: 0.5px solid rgba(124, 101, 50, 0.7);
    // margin: 0px;
    width: 90%;
    min-width: 90%;
    height: auto;
    margin-left: 72px;
    margin-right: 72px;
  }

  .gameName {
    background-image: url("../../icons/Title.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 76%;
    height: 40%;
    width: 100%;
    margin-top: 150px;
  }

  .gameText {
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    margin-right: 80px;
  }
  .tagline {
    background-image: url("../../icons/Tagline.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 5%;
    // margin-bottom: 20px;
    mix-blend-mode: color-dodge;
    width: 100%;
  }

  .heading {
    display: flex;
    // justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    line-height: 0.5;
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: blue;
    background: rgba(23, 10, 32, 0.2);
    border: 1px solid rgba(80, 80, 80, 0.5);
    margin-left: 10px;
  }
}

@media screen and (max-width: 851px) {
  .container h1 {
    font-size: 50px;
    // margin-bottom: 2%;
  }

  .heading h2 {
    font-size: 16px;
    // margin-bottom: 2%;
  }

  .container p {
    font-size: 16px;
  }

  .gameText h1 {
    font-size: 38px;
    margin-bottom: 40px;
  }

  .gameText {
    width: 100%;
    padding-right: 0px;
  }

  .gameBG {
    height: 90%;
    margin-bottom: 100px;
    border-radius: 10px;
    border: 0.5px solid rgba(124, 101, 50, 0.7);
    width: 400px;
    height: auto;
    margin-left: 72px;
    margin-right: 72px;
    object-fit: cover;
    width: 100%;
    height: 350px;
    object-position: center 40%;
  }

  .html-div {
    // width: 100%;
    background: linear-gradient(0deg, #00223e 38.67%, rgba(0, 31, 58, 0) 70.5%);
  }

  .container {
    position: absolute;
    width: 110%;
    background: linear-gradient(0deg, #00223e 38.67%, rgba(0, 31, 58, 0) 100%);
    // margin-left: 0px;
    margin-top: 650px;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 150px;
    // background: linear-gradient(0deg, #00223e 38.67%, rgba(0, 31, 58, 0) 100%);
    left: 65%;

    // padding-right: 0px;
  }
  @media screen and (max-width: 514px) {
    .container {
      left: 75%;
    }
  }

  @media screen and (max-width: 409px) {
    .container h1 {
      font-size: 40px;
      // margin-bottom: 2%;
    }

    .heading h2 {
      font-size: 12px;
      // margin-bottom: 2%;
    }

    .container p {
      font-size: 16px;
    }

    .gameText h1 {
      font-size: 30px;
      margin-bottom: 40px;
    }

    .gameText {
      width: 100%;
      padding-right: 0px;
    }

    .logoActive .selector {
      margin-bottom: 15px;
    }

    .gameBG {
      height: 90%;
      margin-bottom: 100px;
      border-radius: 10px;
      border: 0.5px solid rgba(124, 101, 50, 0.7);
      width: 400px;
      // margin-left: 72px;
      // margin-right: 72px;
      object-fit: cover;
      width: 100%;
      height: 250px;
      object-position: center 40%;
    }
  }
}
