.Card {
  display: flex;
  flex-direction: column;
  width: 233px;
  background: #0a0a09;
  margin-left: 130px;
  //   justify-content: center;
  //   align-items: center;

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 12px;
    font-weight: 700;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(127, 105, 48, 0.125);
    padding: 10px 30px 10px 10px;
    border-radius: 7px 7px 0px 0px;
    font-family: "Jura", sans-serif;
    opacity: 50%;
  }

  h3 {
    font-size: 20px;
  }

  img {
    height: 200px;
    width: 233px;
    padding: 0;
    margin: 0;
  }
}
