$btnColor: rgba(255, 211, 97, 1);

.btn--primary {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: black;

  border: none;
  margin: 0;
  color: #ffd361;
  font-weight: 600;
  font-size: 20px;
  border: 1.5px solid #7b652f;
  border-radius: 0px 0px 10px 10px;
  // white-space: nowrap;

  .btnText {
    padding: 17px;
    padding-right: 0px;
    padding-top: 25px;
    padding-bottom: 25px;

    text-align: center;
    margin: 0px;
    font-size: 18px;
    background: linear-gradient(87.18deg, #ffd361 -53.05%, #ffffff 47.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    // padding: 5px;
  }

  .btnImg {
    margin: 0px;
    font-size: 5px;
    padding: 20px;
  }

  .btnImgContainer {
    height: 73px;
    border-left: 1.5px solid #7b652f;
  }
}

.btn--primary:hover {
  background: linear-gradient(270deg, #b29444 0%, #ffd361 100%);
  // color: black;
  border: 1.5px solid #ffd361;

  .btnText {
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .btnImg {
    filter: brightness(0) saturate(100%);
  }

  .btnImgContainer {
    border-left: 1.5px solid rgba(255, 211, 97, 1);
  }
}

.btn--primary:focus {
  background: linear-gradient(270deg, #ffefb6 0%, #ffd361 72.61%);
  border: 1.5px solid #ffd361;

  .btnText {
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .btnImg {
    filter: brightness(0) saturate(100%);
  }

  .btnImgContainer {
    border-left: 1.5px solid #ffd361;
  }
}

// SECONDARY (Transparent button
.btn--secondary {
  display: flex;
  justify-content: space-between;

  // width: 100%;

  background: none;
  border: none;
  margin: 0;
  color: #ffd361;
  font-weight: 600;
  font-size: 20px;
  border: 1.5px solid #7b652f;
  border-radius: 10px 10px 10px 10px;
  // white-space: nowrap;

  .btnText {
    padding: 17px;
    padding-right: 35px;
    text-align: center;
    margin: 0px;
    font-size: 16px;
    background: linear-gradient(87.18deg, #ffd361 -53.05%, #ffffff 47.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .btnImg {
    margin: 0px;
    padding: 20px;
  }

  .btnImgContainer {
    height: 54px;
    border-left: 1.5px solid #7b652f;
  }
}
.btn--secondary:hover {
  background: linear-gradient(270deg, #b29444 0%, #ffd361 100%);
  // color: black;
  border: 1.5px solid #ffd361;

  .btnText {
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .btnImg {
    filter: brightness(0) saturate(100%);
  }

  .btnImgContainer {
    border-left: 1.5px solid rgba(255, 211, 97, 1);
  }
}

.btn--secondary:focus {
  background: linear-gradient(270deg, #ffefb6 0%, #ffd361 72.61%);
  border: 1.5px solid #ffd361;

  .btnText {
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .btnImg {
    filter: brightness(0) saturate(100%);
  }

  .btnImgContainer {
    border-left: 1.5px solid #ffd361;
  }
}

.arrow {
  padding-top: 25%;
  background-image: url("../../icons/arrow.png");
  background-position: bottom;
  background-repeat: no-repeat;
  height: 72px;
}

@media screen and (max-width: 1600px) {
  .btn--primary {
    .btnText {
      font-size: 16px;
    }

    .btnImg {
      width: 95%;
    }

    .btnImgContainer {
    }
  }

  .btn--secondary {
    .btnText {
      padding-top: 20px;
      padding-right: 35px;
      font-size: 13px;
    }

    .btnImg {
      margin: 0px;
      padding: 20px;
    }

    .btnImgContainer {
      height: 54px;
      border-left: 1.5px solid #7b652f;
    }
  }
}

@media screen and (max-width: 361px) {
  .btn--primary {
    .btnText {
    }

    .btnImg {
    }

    .btnImgContainer {
    }
  }
}
