.Games h1 {
  font-family: "Podkova", serif;
  margin-bottom: 7%;
}

.Games h2 {
  font-family: "Podkova", serif;
  opacity: 50%;
  margin-bottom: 7%;
}

.Games p {
  margin-bottom: 7%;
  font-size: 16px;
}

.Games .wrapper-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 10%;
}

.Games .games-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.Games .left-container {
  background: linear-gradient(73.05deg, rgba(5, 5, 5, 0.2) 0%, rgba(5, 5, 5, 0) 53.53%);
  -webkit-backdrop-filter: blur(55px);
          backdrop-filter: blur(55px);
  border-radius: 10px 10px 10px 64px;
  padding: 40px;
  width: 60%;
  height: 400px;
}

.Games .wrapper-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15%;
}

.Games .wrapper-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.Games .Michael {
  width: 120%;
  margin-right: 40%;
  margin-top: 10%;
}

.Games h3 {
  color: #93a0c0;
  padding-left: 7%;
}

.Games .generals {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Games .general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Games .general-card {
  height: 550px;
  width: 350px;
}

.Games #card_canvas {
  border-radius: 10px;
  border: 1px solid #85703b;
}

.Games .general-text {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.Games .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.Games .bg2 {
  background-image: url("../../icons/BG2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: white;
}

.Games .bg3 {
  background-image: url("../../icons/BG3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: white;
}
/*# sourceMappingURL=Games.css.map */