.footer {
  width: 100%;
  height: auto;
  background: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
  padding-top: 20px;
}

.footer p {
  white-space: nowrap;
  opacity: 100%;
}

.footer .fasContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 160px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.footer .fas {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5px;
}

.footer .fas img {
  padding: 7px;
  border: 1px solid rgba(251, 235, 235, 0.5);
  border-radius: 4px;
  opacity: 50%;
}

.footer .fasTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .fasText {
  font-family: "Jura", sans-serif;
  font-size: 20px;
  margin: 0;
  font-weight: 700;
  color: white;
  opacity: 70%;
}

.footer .footerItem {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin-left: 160px;
  margin-right: 160px;
  border-bottom: 1px solid rgba(80, 80, 80, 0.5);
  white-space: nowrap;
  font-size: 14px;
}

.footer .a-link {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  width: 100%;
  padding: 25px 20px;
}

.footer .a-link:hover {
  background: rgba(80, 80, 80, 0.25);
  border-radius: 8px;
}

.footer .a-link:focus {
  background: #1a1a1a;
}

.footer .newsletter {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer form p {
  width: 100%;
  margin: 0px;
}

.footer form input {
  height: 60px;
  width: 100%;
  font-family: "Jura", sans-serif;
  font-size: 16px;
  padding: 1.5em;
  background: #0a0a09;
  border: 1px solid #6a5421;
  border-radius: 8px 0px 0px 8px;
  color: white;
  opacity: 100%;
}

.footer form button {
  margin: 0px 0px;
  color: #ffd25a;
  font-family: "Jura", sans-serif;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px;
  gap: 12px;
  height: 60px;
  background: rgba(255, 239, 196, 0.1);
  border: 1px solid rgba(255, 210, 90, 0.25);
  border-radius: 0px 8px 8px 0px;
  margin-right: 160px;
  opacity: 100%;
}

.footer .checkmark {
  opacity: 100%;
}

.footer form button:hover {
  opacity: 100%;
  background: #6a5421;
}

.footer form button:focus {
  opacity: 100%;
  background: #e2b753;
}

.footer form input:hover {
  border: 1px solid rgba(255, 210, 90, 0.5);
}

.footer form input:focus {
  border: 1px solid #ffd25a;
  outline-width: 0;
  opacity: 100%;
  color: white;
  outline: none;
}

@media screen and (max-width: 1600px) {
  .footer .footerItem {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    margin-right: 160px;
  }
}

@media screen and (max-width: 1162px) {
  .footer .fasContainer {
    margin-left: 100px;
  }
  .footer .footerItem {
    margin-left: 100px;
    margin-right: 100px;
  }
  .footer form button {
    margin-right: 100px;
  }
  .footer form input {
    font-size: 14px;
  }
  .footer .fasText {
    font-size: 16px;
    margin-left: 20px;
  }
  .footer .fasContainer {
    margin-left: 110px;
  }
}

@media screen and (max-width: 851px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: auto;
    padding-bottom: 30px;
  }
  .footer .fasContainer {
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .footer .footerItem {
    margin-left: 50px;
    margin-right: 60px;
  }
  .footer form button {
    margin-right: 50px;
  }
  .footer form input {
    font-size: 12px;
  }
  .footer .newsletter {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .footer form {
    margin-left: 65px;
  }
}

@media screen and (max-width: 450px) {
  .footer .fasContainer {
    margin-left: 35px;
  }
  .footer .footerItem {
    margin-left: 20px;
    margin-right: 0px;
  }
  .footer form button {
    margin-right: 20px;
  }
  .footer .newsletter {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .footer form {
    margin-left: 35px;
  }
}
/*# sourceMappingURL=Footer.css.map */