.footer {
  width: 100%;
  height: auto;
  background: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-content: center;

  p {
    white-space: nowrap;
    opacity: 50%;
  }

  .fasContainer {
    display: flex;
    justify-content: start;
    margin-left: 160px;
    order: -1;
    grid-column: 1/2;
  }

  .fas {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    // opacity: 100%;
    // border: 1px solid white;
  }

  .fas img {
    padding: 7px;
    border: 1px solid rgba(251, 235, 235, 0.18);
    border-radius: 4px;
    opacity: 50%;
  }

  .fasTextContainer {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .fasText {
    font-family: "Lexend Tera", sans-serif;
    font-size: 14px;
    margin: 0;
    padding-left: 10px;
  }

  .footerItem {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: start;
    grid-column: 1/1;
    margin-left: 170px;
    padding: 25px 20px;
    border-bottom: 1px solid rgba(80, 80, 80, 0.5);
    white-space: nowrap;
    font-size: 10px;
  }

  .newsletter {
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    // margin-right: 1  60px;
    order: -1;
  }

  form {
    display: flex;
    align-items: center;
  }

  form p {
    width: 100%;

    margin: 0px;
  }

  form input {
    // margin: 10px;
    height: 60px;
    width: 100%;
    font-family: "Jura", sans-serif;
    font-size: 16px;
    padding: 1.5em;
    background: #0a0a09;
    border: 1px solid rgba(255, 210, 90, 0.1);
    border-radius: 8px 0px 0px 8px;
    color: rgba(255, 255, 255, 0.5);
  }

  form button {
    margin: 10px 0px;
    color: #ffd25a;
    font-family: "Jura", sans-serif;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 60px;
    gap: 12px;
    font-size: 20px;
    height: 60px;
    background: #1b160a;
    border: 1px solid rgba(255, 210, 90, 0.25);
    border-radius: 0px 8px 8px 0px;
    margin-right: 160px;
    opacity: 50%;
  }

  form button:hover {
    opacity: 100%;
  }

  form input:hover {
    border: 1px solid rgba(255, 210, 90, 0.5);
  }

  form input:focus {
    border: 1px solid rgba(255, 210, 90, 1);
    outline-width: 0;
    opacity: 100%;
    color: white;
  }
}

@media screen and (max-width: 852px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    padding-bottom: 30px;

    .fasContainer {
      display: flex;

      justify-content: start;
      order: -1;
      grid-column: 1/2;
      // margin-left: 25px;
    }

    .newsletter {
      order: -1;
      grid-column: 1/2;
    }

    .footerItem {
      display: flex;
    }

    .fasContainer {
      margin-left: 50px;
    }
  }
}

@media screen and (max-width: 658px) {
  .footer {
    .fasContainer {
      margin-top: 50px;
    }

    .newsletter {
      display: flex;
      justify-content: start;

      grid-column: 1/4;
    }
    .fasContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }

    @media screen and (max-width: 358px) {
    }
    // .btn {
    //   margin-left: 30px;
    // }
  }
}
