$blue: #93a0c0;

.Contact {
  h1 {
    font-family: "Podkova", serif;
    margin-bottom: 7%;
    color: white;
  }

  h2 {
    font-family: "Podkova", serif;
    opacity: 50%;
    margin-bottom: 7%;
  }

  p {
    margin-bottom: 7%;
    font-size: 16px;
  }

  .spaceship {
    height: 450px;
    width: 50%;
    padding: 1%;
    margin-bottom: 15%;
  }

  .flex-container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blur-container-1 {
    background: linear-gradient(
      73.05deg,
      rgba(5, 5, 5, 0.2) 0%,
      rgba(5, 5, 5, 0) 53.53%
    );
    backdrop-filter: blur(55px);
    border-radius: 10px 10px 10px 64px;
    padding: 30px;
    width: 30%;
    // margin-top: 5%;
    margin: 3%;
    margin-bottom: 15%;
  }

  .blur-container-2 {
    background: linear-gradient(
      73.05deg,
      rgba(5, 5, 5, 0.2) 0%,
      rgba(5, 5, 5, 0) 53.53%
    );
    backdrop-filter: blur(55px);
    border-radius: 10px 10px 10px 64px;
    padding: 30px;
    width: 50%;
    // margin-top: 5%;
    margin: 3%;
  }

  h3 {
    color: $blue;
    padding-left: 7%;
  }

  .bg2 {
    background-image: url("../../icons/BG2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    // background-color: black; // effects h1 in that background
    // display:flex;
    // justify-content: center;
    // align-items: center;
  }

  .img1 {
    height: 300px;
    width: 50%;
    background-color: blue;
    margin: 3%;
    // padding: 5%;
  }
}
