$blue: #93a0c0;

.About {
  h1 {
    font-family: "Iceland", serif;
    background: linear-gradient(87.21deg, #c0d2ff 0.66%, #ffffff 94.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 4%;
    // font-size: 85px;
    font-size: 4.5vw;

    font-weight: 400;
  }

  h2 {
    font-family: "Iceland", serif;
    // font-size: 48px;
    font-size: 2.5vw;

    color: #b8c0c8;
    margin-bottom: 2%;
    font-weight: 400;
  }

  h3 {
    color: $blue;
    // padding-left: 7%;
  }

  p {
    font-family: "Jura", sans-serif;
    // font-size: 24px;
    font-size: 1.25vw;
    opacity: 100%;
  }

  .bg2 p {
    font-family: "Jura", sans-serif;
    margin-bottom: 7%;
    opacity: 100%;
  }

  .blackBg p {
    opacity: 100%;
  }

  .bg1v2 p {
    opacity: 100%;
  }

  .bg3v2 p {
    opacity: 100%;
  }

  .team p {
    opacity: 80%;
  }

  .spaceship {
    // max-width: 650px;
    padding: 1%;
    // margin-bottom: 250px;
    // margin-right: 50px;

    max-width: 880px;
    margin-right: 80px;
    margin-bottom: 350px;
    max-height: 640px;
  }

  .placeHolder1 {
    width: 45%;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .placeHolder2 {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 45%;
    // height: 50%;
  }

  .flex-container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .flex-container {
    display: flex;
    align-items: center;
  }

  .container-1 {
    // padding: 30px;
    width: 50%;
    min-width: 30%;
    color: white;
    // margin-left: 160px;
    // margin-right: 157px;

    margin-left: 8%;
    margin-right: 7%;
  }

  .text-img-1 {
    width: 50%;
    // margin-left: 160px; // 100
    // margin-right: 157px; //0
    margin-left: 8%;
    margin-right: 6%;
  }

  .text-img-2 {
    width: 50%;
    // margin-left: 157px; // 100
    // margin-right: 160px; //0
    margin-right: 6%;
    margin-left: 8%;
  }

  .container-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%; //600
    margin-left: 160px; //100
    margin-right: 0px;
    margin-top: 20%;
  }

  .container-5 {
    width: 40%; //600px
    // padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 160px; //100
    margin-right: 50%;
    margin-top: 610px;
  }

  .container-4 {
    width: 75%;
    margin-left: 160px; //100
    margin-bottom: 60px; // 0px
    margin-top: 40px;
  }

  .container-4 p {
    width: 65%;
  }

  .blackBg {
    background-color: black;
    width: 100%;
  }

  .team {
    background-color: black;
    height: 920px; //763px
    width: 100%;
    background-image: url(../../icons/BG_TEAM.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  .bg1v2 {
    background-image: url("../../icons/BG1v2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px; // 763px
    width: 100%;
  }

  .nebula-3 {
    background-image: url("../../icons/Nebula3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px; // 763px
    width: 100%;
  }

  .bg2 {
    background-image: url("../../icons/BG2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    width: 100%;
  }

  .bg3v2 {
    background-image: url("../../icons/BG3v2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    width: 100%;
  }

  .img1 {
    height: 300px;
    width: 50%;
    background-color: blue;
    margin: 3%;
    // padding: 5%;
  }

  //TEAM

  .flex-heading {
    display: flex;
    align-items: center;
    background-color: black;
    border-bottom: 1px solid rgba(255, 212, 100, 0.1);
    margin: 0; // 0
    margin-left: 0px; //0
  }

  .flex-heading h1 {
    margin: 0;
    // margin-left: 7.5%;
    margin-left: 150px;
  }

  .banner {
    width: 4px;
    height: 110px;
    background: linear-gradient(180deg, #8dacfa 0%, #ffe174 100%);
    border-radius: 0px 50px 50px 0px;
  }

  .card-container {
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
  }

  .card-spacing {
    margin-left: 100px;
  }
  .prev {
    background-image: url(../../icons/SwipperButton.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 72px;
    height: 72px;
    background-color: black;
    border: none;
    margin: 130px 10px;
    opacity: 75%;
    // margin-top: 185px;
  }

  .prev:hover {
    opacity: 100%;
  }

  .next {
    background-image: url(../../icons/SwipperButton.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 72px;
    height: 72px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin: 130px 10px;
    background-color: black;
    border: none;
    opacity: 75%;
    // margin-top: 185px;
  }

  .next:hover {
    opacity: 100%;
  }

  // MACBOOK
  @media screen and (max-width: 1600px) {
    h1 {
      font-size: 60px;
      // font-size: 3.75vw;

      margin-bottom: 3%;
    }

    h2 {
      font-size: 40px;
      // font-size: 2.5vw;

      margin-bottom: 4%;
    }

    p {
      // font-size: 20px;
      font-size: 1.25vw;
    }

    .spaceship {
      margin-bottom: 250px;
      margin-right: 50px;
      max-width: 708px;
      max-height: 468px;
    }

    .container-1 {
      margin-left: 100px;
      margin-right: 0%;
    }

    .text-img-1 {
      margin-left: 100px;
    }

    .text-img-2 {
      margin-left: 100px;
    }

    .container-3 {
      width: 600px;
      margin-left: 100px;
    }

    .container-5 {
      width: 600px;
      margin-left: 100px;
      margin-top: 510px;
    }

    .container-4 {
      margin-left: 100px;
      margin-bottom: 0px;
    }

    .team {
      height: 790px;
    }

    .nebula-3 {
      height: 790px;
    }

    .bg2 {
      height: 700px;
    }

    .bg1v2 {
      height: 790px;
    }

    .bg3v2 {
      height: 790px;
    }

    .flex-heading h1 {
      margin: 0;
      margin-left: 90px;
    }
  }
  // Tablet start here
  @media screen and (max-width: 1162px) {
    .flex-container-main {
      display: flex;
      flex-direction: column;
    }

    .container-1 {
      order: 2;
      width: 90%;
      margin-left: 7%;
      padding: 0%;
    }

    .container-1 p {
      margin-right: 10%;
    }

    .container-1 h1 {
      font-size: 54px;
      // font-size: 4.65vw;
    }

    .text-img-1 {
      min-width: 30%;
      margin-left: 7%;
      margin-right: 2%;
      padding: 0px;
    }

    .text-img-2 {
      min-width: 30%;
      margin-left: 7%;
      padding: 0px;
    }

    .container-3 {
      man-width: 600px;
      margin-right: 0%;
      margin-left: 7%;

      margin-top: 30%;
      width: 55%;
    }

    // .container-3 h1 {
    //   width: 80%;
    // }

    .container-4 {
      width: 80%;
    }

    .container-5 {
      // man-width: 600px;
      margin-right: 0%;
      margin-top: 25%;
      margin-left: 7%;
      padding: 0%;
      width: 50%;
      margin-top: 510px;
    }

    .spaceship {
      width: 90%;
      margin-top: 30px;
      order: 1;
      margin-bottom: 0;
      margin-right: 0px;
      // max-width: 708px;
      // max-height: 468px;
    }

    p {
      // font-size: 14px;
      font-size: 1.5vw;
    }

    h1 {
      font-size: 44px;
      // font-size: 3.9vw;
    }

    h2 {
      font-size: 22px;
      // margin-bottom: 3%;
    }

    .card-container {
      margin-bottom: 100px;
    }

    .placeHolder1 {
      margin: 12px;
    }

    .placeHolder2 {
      margin: 12px;
    }
  }

  //phone large
  @media screen and (max-width: 851px) {
    .spaceship {
      margin: 0;
      // height: 30%;
    }

    .container-1 {
      order: 2;
      width: 90%;
      margin-left: 0%;
      padding: 0%;
    }

    .flex-container {
      display: flex;
      flex-direction: column;
    }

    .text-img-1 {
      order: 2;
      min-width: 90%;
      margin: 0px;

      // margin-right: 50px;
    }

    .text-img-2 {
      order: 2;
      min-width: 90%;
      margin: 0px;
      // margin-right: 50px;
    }

    .placeHolder1 {
      width: 90%;
      margin: 0px;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .placeHolder2 {
      width: 90%;
      margin: 0px;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .container-5 {
      margin: 0;
      // margin-top: 70%;
      margin-top: 400px;

      width: 90%;
      // margin-right: 10%;
    }

    .container-3 {
      margin-top: 60%;
      width: 90%;
      margin-left: 0px;
    }

    .container-4 {
      display: flex;
      flex-direction: column;
      margin-left: 0%;
      margin-right: 0%;
      // margin: 0%;
      width: 90%;

      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      // width: 80%;
      // margin: 0%;
      margin-left: 5%;
      margin-right: 5%;

      // margin-right: 0px;
      // padding: 0px;
      // width: 95%;
    }

    .container-4 p {
      width: 100%;
    }
    p {
      font-size: 16px;
    }

    h1 {
      font-size: 44px;
      margin-bottom: 2.2%;
    }

    .container-1 h1 {
      font-size: 48px;
    }
    h2 {
      font-size: 24px;
      margin-bottom: 3%;
    }
    .flex-heading {
      height: 10%;
    }

    .flex-heading h1 {
      margin: 0;
      margin-left: 4%;
    }

    .banner {
      width: 4px;
      height: 70px;
    }

    .prev {
      margin: 130px 10px;
    }

    .card-container {
      display: flex;
      justify-content: center;
      margin-left: 10px;
      margin-right: 10px;
    }
    //phones small
    @media screen and (max-width: 500px) {
      .swiper-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        grid-gap: 20px;
        // grid-column-start: 2;
        // grid-column-end: 4;
        justify-content: center;
        align-items: center;
      }

      .swiper-slide .swiper-slide-next {
        // width: 100%;
      }

      .team {
        height: 2200px;
      }
      .card-spacing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // grid-template-columns: 2fr;
      }
      .card-container {
        display: flex;
        justify-content: center;
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
      }

      .prev {
        margin: 0px 0px;
      }

      .next {
        margin: 0px 0px;
      }

      p {
        font-size: 14px;
      }

      h1 {
        font-size: 36px;
        margin-bottom: 4%;
      }

      h2 {
        font-size: 22px;
        margin-bottom: 4%;
      }

      .flex-heading h1 {
        margin: 0;
        margin-left: 15px;
        font-size: 44px;
      }
    }
    @media screen and (max-width: 409px) {
      .team {
        height: 1520px;
      }
    }

    @media screen and (max-width: 360px) {
      .team {
        height: 1450px;
      }
    }
  }
}
