.About h1 {
  font-family: "Iceland", serif;
  background: linear-gradient(87.21deg, #c0d2ff 0.66%, #ffffff 94.12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 4%;
  font-size: 4.5vw;
  font-weight: 400;
}

.About h2 {
  font-family: "Iceland", serif;
  font-size: 2.5vw;
  color: #b8c0c8;
  margin-bottom: 2%;
  font-weight: 400;
}

.About h3 {
  color: #93a0c0;
}

.About p {
  font-family: "Jura", sans-serif;
  font-size: 1.25vw;
  opacity: 100%;
}

.About .bg2 p {
  font-family: "Jura", sans-serif;
  margin-bottom: 7%;
  opacity: 100%;
}

.About .blackBg p {
  opacity: 100%;
}

.About .bg1v2 p {
  opacity: 100%;
}

.About .bg3v2 p {
  opacity: 100%;
}

.About .team p {
  opacity: 80%;
}

.About .spaceship {
  padding: 1%;
  max-width: 880px;
  margin-right: 80px;
  margin-bottom: 350px;
  max-height: 640px;
}

.About .placeHolder1 {
  width: 45%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.About .placeHolder2 {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 45%;
}

.About .flex-container-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.About .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.About .container-1 {
  width: 50%;
  min-width: 30%;
  color: white;
  margin-left: 8%;
  margin-right: 7%;
}

.About .text-img-1 {
  width: 50%;
  margin-left: 8%;
  margin-right: 6%;
}

.About .text-img-2 {
  width: 50%;
  margin-right: 6%;
  margin-left: 8%;
}

.About .container-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48%;
  margin-left: 160px;
  margin-right: 0px;
  margin-top: 20%;
}

.About .container-5 {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 160px;
  margin-right: 50%;
  margin-top: 20%;
}

.About .container-4 {
  width: 75%;
  margin-left: 160px;
  margin-bottom: 60px;
  margin-top: 40px;
}

.About .container-4 p {
  width: 65%;
}

.About .blackBg {
  background-color: black;
  width: 100%;
}

.About .team {
  background-color: black;
  height: 920px;
  width: 100%;
  background-image: url(../../icons/BG_TEAM.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.About .bg1v2 {
  background-image: url("../../icons/BG1v2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  width: 100%;
}

.About .nebula-3 {
  background-image: url("../../icons/Nebula3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  width: 100%;
}

.About .bg2 {
  background-image: url("../../icons/BG2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  width: 100%;
}

.About .bg3v2 {
  background-image: url("../../icons/BG3v2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  width: 100%;
}

.About .img1 {
  height: 300px;
  width: 50%;
  background-color: blue;
  margin: 3%;
}

.About .flex-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  border-bottom: 1px solid rgba(255, 212, 100, 0.1);
  margin: 0;
  margin-left: 0px;
}

.About .flex-heading h1 {
  margin: 0;
  margin-left: 150px;
}

.About .banner {
  width: 4px;
  height: 110px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8dacfa), to(#ffe174));
  background: linear-gradient(180deg, #8dacfa 0%, #ffe174 100%);
  border-radius: 0px 50px 50px 0px;
}

.About .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
}

.About .card-spacing {
  margin-left: 100px;
}

.About .prev {
  background-image: url(../../icons/SwipperButton.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 72px;
  height: 72px;
  background-color: black;
  border: none;
  margin: 130px 10px;
  opacity: 75%;
}

.About .prev:hover {
  opacity: 100%;
}

.About .next {
  background-image: url(../../icons/SwipperButton.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 72px;
  height: 72px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin: 130px 10px;
  background-color: black;
  border: none;
  opacity: 75%;
}

.About .next:hover {
  opacity: 100%;
}

@media screen and (max-width: 1600px) {
  .About h1 {
    font-size: 60px;
    margin-bottom: 3%;
  }
  .About h2 {
    font-size: 40px;
    margin-bottom: 4%;
  }
  .About p {
    font-size: 1.25vw;
  }
  .About .spaceship {
    margin-bottom: 250px;
    margin-right: 50px;
    max-width: 708px;
    max-height: 468px;
  }
  .About .container-1 {
    margin-left: 100px;
    margin-right: 0%;
  }
  .About .text-img-1 {
    margin-left: 100px;
  }
  .About .text-img-2 {
    margin-left: 100px;
  }
  .About .container-3 {
    width: 600px;
    margin-left: 100px;
  }
  .About .container-5 {
    width: 600px;
    margin-left: 100px;
  }
  .About .container-4 {
    margin-left: 100px;
    margin-bottom: 0px;
  }
  .About .team {
    height: 790px;
  }
  .About .nebula-3 {
    height: 790px;
  }
  .About .bg2 {
    height: 700px;
  }
  .About .bg3v2 {
    height: 790px;
  }
  .About .flex-heading h1 {
    margin: 0;
    margin-left: 90px;
  }
}

@media screen and (max-width: 1162px) {
  .About .flex-container-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .About .container-1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 90%;
    margin-left: 7%;
    padding: 0%;
  }
  .About .container-1 p {
    margin-right: 10%;
  }
  .About .container-1 h1 {
    font-size: 54px;
  }
  .About .text-img-1 {
    min-width: 30%;
    margin-left: 7%;
    margin-right: 2%;
    padding: 0px;
  }
  .About .text-img-2 {
    min-width: 30%;
    margin-left: 7%;
    padding: 0px;
  }
  .About .container-3 {
    man-width: 600px;
    margin-right: 0%;
    margin-left: 7%;
    margin-top: 30%;
    width: 55%;
  }
  .About .container-4 {
    width: 80%;
  }
  .About .container-5 {
    man-width: 600px;
    margin-right: 0%;
    margin-top: 25%;
    margin-left: 7%;
    padding: 0%;
    width: 50%;
  }
  .About .spaceship {
    width: 90%;
    margin-top: 30px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 0;
    margin-right: 0px;
  }
  .About p {
    font-size: 1.5vw;
  }
  .About h1 {
    font-size: 44px;
  }
  .About h2 {
    font-size: 22px;
  }
  .About .card-container {
    margin-bottom: 100px;
  }
  .About .placeHolder1 {
    margin: 12px;
  }
  .About .placeHolder2 {
    margin: 12px;
  }
}

@media screen and (max-width: 736px) {
  .About .spaceship {
    margin: 0;
  }
  .About .container-1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 90%;
    margin-left: 0%;
    padding: 0%;
  }
  .About .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .About .text-img-1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    min-width: 90%;
    margin: 0px;
  }
  .About .text-img-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    min-width: 90%;
    margin: 0px;
  }
  .About .placeHolder1 {
    width: 90%;
    margin: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .About .placeHolder2 {
    width: 90%;
    margin: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .About .container-5 {
    margin: 0;
    margin-top: 70%;
    width: 90%;
  }
  .About .container-3 {
    margin-top: 60%;
    width: 90%;
    margin-left: 0px;
  }
  .About .container-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0%;
    margin-right: 0%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .About .container-4 p {
    width: 100%;
  }
  .About p {
    font-size: 16px;
  }
  .About h1 {
    font-size: 44px;
    margin-bottom: 2.2%;
  }
  .About .container-1 h1 {
    font-size: 48px;
  }
  .About h2 {
    font-size: 24px;
    margin-bottom: 3%;
  }
  .About .flex-heading {
    height: 10%;
  }
  .About .flex-heading h1 {
    margin: 0;
    margin-left: 4%;
  }
  .About .banner {
    width: 4px;
    height: 70px;
  }
  .About .prev {
    margin: 130px 10px;
  }
  .About .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 736px) and (max-width: 500px) {
  .About .swiper-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 90%;
    grid-gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .About .team {
    height: 2200px;
  }
  .About .card-spacing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .About .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
  }
  .About .prev {
    margin: 0px 0px;
  }
  .About .next {
    margin: 0px 0px;
  }
  .About p {
    font-size: 14px;
  }
  .About h1 {
    font-size: 36px;
    margin-bottom: 4%;
  }
  .About h2 {
    font-size: 22px;
    margin-bottom: 4%;
  }
  .About .flex-heading h1 {
    margin: 0;
    margin-left: 15px;
    font-size: 44px;
  }
}
/*# sourceMappingURL=About.css.map */