$blue: #93a0c0;

.About {
  h1 {
    font-family: "Iceland", serif;
    background: linear-gradient(270deg, #ffefb6 0%, #ffd361 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 3%;
    font-size: 60px;
    font-weight: 400;
  }

  h2 {
    font-family: "Iceland", serif;
    font-size: 40px;
    color: #b8c0c8;
    margin-bottom: 2%;
    font-weight: 400;
  }

  h3 {
    color: $blue;
    // padding-left: 7%;
  }

  p {
    font-family: "Jura", sans-serif;
    font-size: 20px;
  }

  .bg2 p {
    font-family: "Jura", sans-serif;
    margin-bottom: 7%;
    opacity: 100%;
  }

  .blackBg p {
    opacity: 100%;
  }

  .bg1v2 p {
    opacity: 100%;
  }

  .bg3v2 p {
    opacity: 100%;
  }

  .team p {
    opacity: 80%;
  }

  .spaceship {
    // height: 60%;
    width: 90%;
    max-width: 650px;
    // width: 880px;
    // height: 640px;
    padding: 1%;
    margin-bottom: 250px;
    margin-right: 50px;
  }

  .placeHolder1 {
    width: 45%;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .placeHolder2 {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 45%;
    // height: 50%;
  }

  .flex-container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .flex-container {
    display: flex;
    align-items: center;
  }

  .container-1 {
    margin-left: 100px;
    padding: 30px;
    width: 50%;
    min-width: 30%;
  }

  .container-2 {
    padding: 30px;
    width: 50%;
    // margin: 3%;
    margin-left: 100px;
  }

  .container-3 {
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    margin-left: 100px;
    margin-right: 0px;
    margin-top: 20%;
  }

  .container-5 {
    width: 600px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    margin-right: 50%;
    margin-top: 20%;
  }

  .container-4 {
    padding: 30px;
    width: 75%;
    margin-left: 100px;
  }

  .blackBg {
    background-color: black;
    width: 100%;
  }

  .team {
    background-color: black;
    height: 100vh;
    width: 100%;
  }
  .bg1v2 {
    background-image: url("../../icons/BG1v2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 763px;
    width: 100%;
  }

  .bg2 {
    background-image: url("../../icons/BG2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 763px;
    width: 100%;
  }

  .bg3v2 {
    background-image: url("../../icons/BG3v2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 763px;
    width: 100%;
  }

  .img1 {
    height: 300px;
    width: 50%;
    background-color: blue;
    margin: 3%;
    // padding: 5%;
  }

  //TEAM

  .flex-heading {
    display: flex;
    align-items: center;
    background-color: black;
    border-bottom: 1px solid rgba(255, 212, 100, 0.1);
  }

  .flex-heading h1 {
    margin: 0;
    margin-left: 120px;
  }

  .banner {
    width: 4px;
    height: 110px;
    background: linear-gradient(180deg, #8dacfa 0%, #ffe174 100%);
    border-radius: 0px 50px 50px 00px;
    // margin-right: 5%;
  }

  .team {
    background-image: url(../../icons/BG_TEAM.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 763px;
    width: 100%;
  }

  .card-container {
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
  }

  .card-spacing {
    margin-left: 100px;
  }
  .prev {
    background-image: url(../../icons/SwipperButton.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 72px;
    height: 72px;
    background-color: black;
    border: none;
    margin: 130px 10px;
    opacity: 75%;
  }

  .prev:hover {
    opacity: 100%;
  }

  .next {
    background-image: url(../../icons/SwipperButton.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 72px;
    height: 72px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin: 130px 10px;
    background-color: black;
    border: none;
    opacity: 75%;
  }

  .next:hover {
    opacity: 100%;
  }

  @media screen and (max-width: 1110px) {
    .flex-container-main {
      display: flex;
      flex-direction: column;
    }

    .container-1 {
      order: 2;
      width: 90%;
      margin-right: 100px;
    }

    .container-2 {
      min-width: 30%;
      margin-left: 0px;
      // margin-right: 50px;
    }

    .container-3 {
      man-width: 600px;
      margin-right: 0%;

      margin-top: 30%;
    }

    .container-4 {
      width: 80%;
    }

    .container-5 {
      man-width: 600px;
      margin-right: 0%;
      margin-top: 35%;
    }

    .spaceship {
      margin-top: 30px;
      order: 1;
      margin-bottom: 0;
    }

    p {
      font-size: 18px;
    }

    h1 {
      font-size: 55px;
    }

    h2 {
      font-size: 28px;
      margin-bottom: 3%;
    }

    .card-container {
      margin-bottom: 100px;
    }
  }

  @media screen and (min-width: 1600px) {
    .team p {
      width: 60%;
    }

    p {
      font-size: 24px;
    }

    h1 {
      font-size: 85px;
      margin-bottom: 4%;
    }

    .flex-heading h1 {
      margin: 0;
      margin-left: 150px;
    }

    h2 {
      font-size: 48px;
      margin-bottom: 4%;
    }

    .container-4 {
      margin-bottom: 60px;
    }

    .bg1v2 {
      height: 1080px;
    }

    .bg2 {
      height: 1080px;
    }

    .bg3v2 {
      height: 1080px;
    }

    .team {
      height: 1080px;
    }
    .spaceship {
      max-width: 880px;
      margin-right: 80px;
      margin-bottom: 350px;
      height: 600px;
    }

    .container-1 {
      margin-left: 150px;
      margin-right: 100px;
      // width: 30%;
    }

    .container-2 {
      margin-left: 150px;
    }

    .container-5 {
      margin-left: 150px;
      width: 40%;
    }

    .container-3 {
      margin-left: 150px;
      width: 50%;
    }

    .container-4 {
      margin-left: 125px;
    }
  }
  @media screen and (max-width: 730px) {
    .spaceship {
      margin: 0;
      // height: 30%;
    }

    .flex-container {
      display: flex;
      flex-direction: column;
    }

    .container-2 {
      order: 2;
      min-width: 90%;
      margin-left: 0px;
      // margin-right: 50px;
    }

    .placeHolder1 {
      width: 90%;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .placeHolder2 {
      width: 90%;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .container-5 {
      margin-top: 70%;
      width: 80%;
      margin-left: 0px;
    }

    .container-3 {
      margin-top: 60%;
      width: 100%;
      margin-left: 0px;
    }

    .container-4 {
      width: 100%;
      margin-left: 10px;
      margin-right: 0px;
      padding: 10px;
      width: 95%;
    }

    p {
      font-size: 14px;
    }

    h1 {
      font-size: 50px;
      margin-bottom: 4%;
    }

    h2 {
      font-size: 22px;
      margin-bottom: 4%;
    }
    .flex-heading {
      height: 10%;
    }

    .flex-heading h1 {
      margin: 0;
      margin-left: 15px;
    }

    .banner {
      width: 4px;
      height: 70px;
    }

    .prev {
      margin: 130px 10px;
    }

    .card-container {
      display: flex;
      justify-content: center;
      margin-left: 10px;
      margin-right: 10px;
    }

    @media screen and (max-width: 450px) {
      .card-container {
        display: flex;
        justify-content: center;
        margin-left: 0%;
        margin-right: 0%;
      }

      .prev {
        margin: 130px 0px;
      }

      .next {
        margin: 130px 0px;
      }

      p {
        font-size: 14px;
      }

      h1 {
        font-size: 36px;
        margin-bottom: 4%;
      }

      h2 {
        font-size: 22px;
        margin-bottom: 4%;
      }
    }
  }
}
