.PaypalCheckout {
  .bg-black {
    display: flex;
    align-items: flex-start;
    height: 1600px;
    background-color: rgb(14, 13, 13);
  }

  .bg2 {
    background-image: url("../../icons/BG2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
  }

  .buttons {
    width: 100%;
  }

  h1 {
    color: #b8c0c8;
    white-space: nowrap;
  }

  img {
    width: 100%;
  }

   .contactUs {
    background-image: url("../../icons/ContactUs.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    width: 100%;

    .flex-container-text {
      display: flex;
      justify-content: center;
    }
  
  
    .container-main {
      margin-top: 5%;
      margin-bottom: 90px;
    }

    h1 {
      font-family: "Iceland", serif;
      font-size: 50px;
      background: linear-gradient(270deg, #ffefb6 0%, #ffd361 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 3%;
      font-size: 56px;
      font-weight: 400;
    }
  
    h2 {
      font-family: "Jura", sans-serif;
      opacity: 100%;
      color: white;
    }
  }
}
